.rosinstall
.rosinstall.bak
*.asv
*.lyx~
*.lyx#
*.bag
*.m~
*core
*.o
.vscode/*
*.pyc
build
puma/matlab/casadi_generated_files copy/*
puma/scripts/FastSAM
data
panther_compression/test_scripts/*.pt
panther_compression/test_scripts/*.csv
panther_compression/test_scripts/*.npy
panther_compression/test_scripts/ml-latest-small
panther_compression/test_scripts/ml-latest-small.zip
panther_compression/evals-dir
panther_compression/evals_dyn_obst
panther_compression/test_scripts/models
panther_compression/test_scripts/wandb
