<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--
        Parameters
    -->
    
    <arg name="quad" default="SQ01s"/>    
    <arg name="camera" default="t265_fisheye1"/>
    <arg name="is_sim" default="true"/>
    <arg name="save_undistorted_and_segmented_images" default="false"/>
    <arg name="fastsam_cb_frequency" default="30"/>

    <!--
        Nodes
    -->

    <node ns="$(arg quad)" name="fastsam" pkg="puma" type="fastsam.py" output="screen">
        <param name="camera" value="$(arg camera)"/>
        <param name="is_sim" value="$(arg is_sim)"/>
        <param name="save_images" value="$(arg save_undistorted_and_segmented_images)"/>
        <param name="fastsam_cb_frequency" value="$(arg fastsam_cb_frequency)"/>
    </node>

</launch>